/* Styles are for mobile view */
body {
    /* This font style is from microsoft's documentation pages <I love text style> */
    font-family: Segoe UI,SegoeUI,S,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility; 
    background: #181A1C;
    color: white;
}

/* Mobile - Hamburger INACTIVE*/
@media screen and (max-width: 900px) {

    h1 {
        font: 700;
        text-align: center;
    }

    .avatar {  
        background-size: contain;
        width: 100%;
        height: auto;
        max-width: 300px;
        display: block;
        margin: 20px auto;
        border-radius: 50%;
        background: #181A1C;
        padding: 5px; 
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0.5, 0.4), 0 6px 15px 0 rgba(0, 0, 0, 0.35);       
    }    

    /* Main navigation styles */
    ul {
        list-style: none;
        padding: 0;                
        background: #26282c;           
        margin: 0 auto;        
    }

    /* .index && ul li a == follow the same styles */
    .nav-header {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
    }

    .test {
        height: 25px;
        text-align: center;
    }    

    .first-level-dropdown.active {
        display: inline-block;
    }
    
    .main-nav-container {
        background-color: #26282c;
        position: relative;
    } 
    
    /* Generic styles for all anchor tags inside the main-nav-container */
    .main-nav-container a {
        display: inline-block;
        color: white;        
        text-decoration: none;
    }
    /* Keeps ALL dropdowns closed by default && sets other settings */
    .main-dropdown, .first-level-dropdown {
        display: none;
    }
    /* Independent styles for .main-dropdown a elements using > selector */
    .main-dropdown > a {
        padding: 14px;
    }
    /* Independent styles for anchor tags after first-level-dropdown li */
    .first-level-dropdown > li a {
        margin-left: 12px;
        padding: 8px;
    }
    /* Change the color of links on hover */
    .main-nav-container a:hover {
        background-color: #2e55a3;
    }
    /* .main-nav-container a {
        display: inline-block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    } */

    /* Provides some padding for our text */
    .main-text-container {
        padding: 10px;
    }

    /* Puts the following anchor elements below the div above so they are lost behind them */
    #anchor-need-offset {
        margin-top: 47px;
    }

    /* Styling for hamburger icon */
    .main-nav-container .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 16px 16px;
        color: white;
    }

    /* 
        Updates hamburger menu icon settings
    */
    .main-nav-container.active a:not(:first-child) { display: block; }
    .main-nav-container.active { position: relative; }
    .main-dropdown.active {
        float: left;
        background-color: #26282c;
        width: 100%;
        display: block;
    }

    /* Makes the anchor take up the entire width */
    .main-nav-container.active a {
        float: none;
        display: block;
        text-align: left;
    }

    /* line seperator after body and before footer */
    .custom-line {
        margin: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #CF70FF;
        border-radius: 50%;
    }

    footer p {
        text-align: center;
    }
}

